body{
  font-family: montserrta;

}
.section-padding{
  padding: 100px 0;
}
.section-header{
  margin-bottom: 50px;
}
.section-header h2{
  font-weight: 700;
  font-size: 40px;
}
.section-header h2 span{
  color: rgb(98, 182, 234);
}
.navbar{
  background: #f8fcfc;
}
.navbar-nav{
  font-size: 15px;
  font-weight: 700;
}
.navbar-light .navbar-brand{
  color: #262626;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
  color: #262626;
}
.navbar-light .navbar-nav .nav-link{
  color: #262626;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(98, 182, 234);
}
.navbar-toggler{
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}

.home{
  margin-right: 30px;
 
}
.about{
  margin-right: 25px;
}

.services{
  margin-right: 20px;
}

.trainers{
  margin-right: 15px;
}

.blog{
  margin-right: 10px;
}
.contact{
  margin-right: 2px;
}

/* carousel */

/* .slide {

 
  text-align: right;

  color: #262626;

 
} */

.slide1{
  font-size: 55px;
  text-transform: capitalize;
  margin-top: -21%;
  margin-right: 50%;
 

}

.p1{
  /* margin-top: 90%; */
    width: 45%;
    font-size: 18px;
    line-height: 1.9;
    /* margin-bottom:30%; */
    margin-right: 50%;
    margin-top: 1%;
   
}

#sp{
  width: 45%;
    font-size: 18px;
    line-height: 1.9;
}

#a1{
  text-decoration: none;
  background: #22aeae;
  padding: 10px 30px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}



/* services */

.single-service{
  padding: 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}
.single-service i{
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(56, 171, 209);
}
.single-service a{
  text-decoration: none;
  background: #22aeae;
  padding: 10px 30px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}
.single-service:hover{
  background: rgb(56, 171, 209);
  color: #fff;
}
.single-service:hover i{
  color: #fff;
}
.single-service:hover a{
  background: #fff;
  color: #22aeae;
}

/* client */
.images{
  border-radius: 30px;
}
.testimonial{
  background: rgb(216, 244, 248);
}

/* trainers */

.single-trainer{
  box-shadow: 0 20px rgb(154, 225, 235);
}
.single-trainer .card-title{
        font-size:25px;
        font-weight: 600;
}

/* blog */

.single-blog{
    background:  rgb(98, 182, 234);
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;

}
.single-blog{
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}
.single-blog .card-title{
  font-weight: 600;
}

/* quotes */

.quote{
  background: rgb(216, 244, 248);
 
}
.single-quote p{
  font-size: 25px;

}
.single-quote i{
     font-size: 50px;
     padding: 0 15px;
}

/* footer */

.fb{
  margin-right: 5%;
}
.tw{
  margin-right: 5%;
}
.in{
  margin-right: 5%;
}
.yo{
  margin-right: 5%;
}
footer{
  background: rgb(127, 213, 239);
  padding: 35px 0;
  color: #fff;
 }

/* contact */
 .left-contact{
  background: rgb(127, 213, 239);
  padding: 60px;
  color: #fff;
 }
 .left-contact h3{
   margin-bottom: 20px;
 }
 label{
  font-size: 28px;
  margin: 10px 0;
 }

 /* responsive */

 @media only screen and (min-width:768px) and (max-width: 991px){
  .navbar-nav{
    text-align:center;
  }
  .navbar-collapse{
    background: #fff;
  }
  .navbar-collapse .nav-item .nav-link{
    color: #000;
  }
  .carousel-caption{
    bottom: 450px;
  }
  .carousel-caption h5{
    font-size: 45px;
  }
  .carousel-caption p{
    font-size: 18px;
    width: 100%;
  }
  .bg-1,
  .bg-2,
  .bg-3{
    background-position: 36%;
  }
  .ab-img img{
    width: 100%;
  }
  .about-text{
    margin-top: 30px;
  }
  .single-service,
  .single-trainer,
  .single-blog,
  .single-contact,
  .single-number{
    margin-bottom: 30px;
  }
 
 }






